@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@400;500;700&display=swap");

/* ! base styles */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Epilogue", sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  color: hsl(0, 0%, 41%);
}

/* ! header start */
header {
  width: 100%;
}

.header-row {
  height: 90px;
  display: flex;
  align-items: center;
}

.header-container {
  width: 100%;
  display: flex;
  margin: 0 2%;
}

.header-wrapper {
  display: flex;
  width: 100%;
  justify-content: flex-start;
  align-items: center;
}

.header-nav {
  margin-left: 50px;
}

.header-mobile-menu {
  display: none;
}

.mobil-menu-btn {
  display: none;
}

.box:last-child {
  margin-left: auto;
}

.menu-list {
  display: flex;
  gap: 30px;
  font-size: 14px;
}

.menu-list .menu-list-item {
  display: flex;
  align-items: center;
  position: relative;
  height: 50px;
}

.menu-dropdown-wrapper {
  position: absolute;
  top: 100%;
  right: 0;
  opacity: 0;
  visibility: hidden;
}

.dropdown-content {
  width: auto;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.dropdown-content li {
  display: flex;
  align-items: center;
}

.dropdown-content a {
  display: flex;
  padding: 10px;
}

.menu-dropdown-wrapper2 {
  position: absolute;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.menu-dropdown-wrapper2 .dropdown-content {
  width: 120px;
  background-color: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 11px 1px rgba(0, 0, 0, 0.75);
  display: flex;
  flex-direction: column;
  padding: 20px 15px;
}

.menu-list i {
  font-size: 10px;
}

.menu-list a:hover {
  color: hsl(0, 0%, 0%);
}

.menu-list .menu-list-item:hover .menu-dropdown-wrapper {
  opacity: 1;
  visibility: visible;
}

.menu-list .menu-list-item:hover .menu-dropdown-wrapper2 {
  opacity: 1;
  visibility: visible;
}

.menu-list .menu-list-item:hover .rotate {
  transform: rotate(180deg);
  transition: 0.5s ease all;
}

.header-login {
  display: flex;
  align-items: center;
  gap: 50px;
  margin-right: 20px;
  font-size: 14px;
}

.header-login .register {
  padding: 8px 18px;
  border: 1px solid hsl(0, 0%, 41%);
  border-radius: 10px;
}

.login:hover,
.register:hover {
  color: hsl(0, 0%, 0%);
  border-color: hsl(0, 0%, 0%);
}

/* ! header end */

/* ! main start */
.main-section {
  margin: 15px 14% 40px 14%;
}

.section-row {
  display: flex;
  align-items: center;
}

.left {
  display: flex;
  flex-direction: column;
  gap: 45px;
  padding-top: 15px;
}

.left h1 {
  font-size: 78px;
}

.left p {
  font-size: 18px;
  color: hsl(0, 0%, 41%);
}

.left .btn {
  width: 120px;
  padding: 10px 0;
  color: #fff;
  background-color: hsl(0, 0%, 8%);
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s ease all;
}

.left .btn:hover {
  color: hsl(0, 0%, 8%);
  background-color: #fff;
}

.section-clients {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 20px;
}

.section-col {
  flex-basis: 50%;
}

.section-col .hero-img {
  max-width: 400px;
  margin-left: auto;
}

.section-col .hero-img .hero {
  width: 100%;
  height: calc(100vh - (90px + 115px));
  background-position: center;
  background-size: cover;
}

/* ! main end */

/* ! footer start */
.footer {
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  letter-spacing: 1px;
}

.footer .icons i {
  margin: 3px;
  font-size: 20px;
  color: black;
}

.footer .icons i:hover {
  color: #0a58ca;
}

/* ! footer end */

/*! responsive */
@media (max-width: 1430px) {
  .left h1 {
    font-size: 68px;
  }
}
@media (max-width: 1245px) {
  .left h1 {
    font-size: 66px;
  }
}

@media (max-width: 1199px) {
  .left h1 {
    font-size: 58px;
  }

  .left p {
    font-size: 18px;
  }
}

@media (max-width: 992px) {
  .main-section {
    margin: 15px 1% 40px 1%;
  }
}

@media (max-width: 768px) {
  .main-section {
    margin: 0 13% 20px 13%
  }

  .header-row {
    height: 70px;
  }

  .navigation {
    display: none;
  }

  .header-login {
    display: none;
  }

  .header-mobile-menu {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: -100%;
    height: 100vh;
    top: 0;
    background-color: #fff;
    border-left: 1px solid;
    transition: .5s ease all;
  }

  .mobile-sidebar {
    display: flex;
    flex-direction: column;
  }

  .mobile-menu-list {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 20px;
    padding: 90px 0 30px 20px;
  }

  .mobile-menu-list a:hover {
    color: hsl(0, 0%, 0%);
  }

  .mobile-menu-dropdown-wrapper {
    position: relative;
    top: 10px;
    left: 20px;
    display: none;
    transform: translateY(-3rem);
    transition: .5s ease all;
  }

  .mobile-dropdown-content li {
    padding: 10px 0;
  }

  .mobile-dropdown-content li a {
    padding-left: 12px;
  }

  .mobile-menu-dropdown-wrapper2 {
    margin: 20px;
    display: none;
  }

  .mobile-menu-list-item:focus-within .mobile-menu-dropdown-wrapper,
  .mobile-menu-list-item:hover .mobile-menu-dropdown-wrapper {
    display: flex;
    transform: translateY(0);
  }

  .mobile-menu-list-item:focus-within .mobile-menu-dropdown-wrapper2,
  .mobile-menu-list-item:hover .mobile-menu-dropdown-wrapper2 {
    display: flex;
  }

  .mobile-menu-list-item .rotate {
    margin-left: 5px;
  }

  .mobile-menu-list-item:hover .rotate {
    transform: rotate(180deg);
    transition: 0.5s ease all;
  }

  .mobile-header-login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }

  .mobile-header-login .register {
    border: 1px solid #000;
    padding: 8px 52px;
    border-radius: 10px;
  }

  .close-menu-btn {
    position: absolute;
    z-index: 1;
    right: 23px;
    top: 16px;
  }

  .mobil-menu-btn {
    display: block;
    position: absolute;
    top: 20px;
    right: 20px;
  }

  .section-row {
    flex-wrap: wrap;
    justify-content: center;
  }

  .section-col {
    flex-basis: 100%;
  }

  .section-col .hero-img .hero {
    display: none;
  }

  .mobile-img {
    width: 100%;
    height: 284px;
    background-image: url(./images/image-hero-mobile.png);
    background-position: center;
    background-size: contain;
  }

  .left {
    justify-content: center;
    align-items: center;
    gap: 35px;
    padding-top: 0;
  }

  .left h1 {
    font-size: 50px;
  }

  .left p {
    text-align: center;
    font-size: 16px;
  }

  .section-clients {
    gap: 60px;
    margin-top: 0;
    margin-bottom: 10px;
  }

  .footer {
    margin-top: 20px;
    font-size: 8px;
  }
}

@media (max-width: 576px) {
  .header-container {
    margin: 0 5%;
  }

  .mobil-menu-btn {
    margin-left: 65%;
  }

  .main-section {
    margin: 5px 1% 0px 1%;
  }

  .left {
    gap: 30px;
    padding-top: unset;
  }

  .left h1 {
    font-size: 34px;
  }

  .section-clients {
    gap: 20px;
  }

  .left .section-clients img {
    width: 64px;
  }

  .section-col .hero-img .hero {
    display: none;
  }

  .mobile-img {
    width: 350px;
    height: 264px;
    background-image: url(./images/image-hero-mobile.png);
    background-position: center;
    background-size: cover;
  }

  .footer {
    margin-top: 20px;
    font-size: 10px;
    flex-direction: column;
    gap: 8px;
  }

  .footer .icons i {
    font-size: 14px;
  }
}